:root{
    --background-color: #0d0d0d;
    --text-color: #f6f6f6;
    --hamburger-menu: #3f3f3f;
    --funky-color: #DF2A60;
    --hover-effect: #4c1426;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contact-container{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2{
    font-weight: 600;
    color: var(--text-color);
    font-size: 40px;
    margin-bottom: 4px;
}

.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: var(--funky-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: var(--hamburger-menu);
    border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    font-weight: 500;
}

.contact-inputs:focus{
    border: 2px solid #DF2A60;
}

.contact-inputs::placeholder{
    color: #202020;
}


@media (max-width:800px){
    .contact-inputs{
        width: 80vw;
    }
}